*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body,
button,
input,
table,
textarea,
select {
  font: normal 16px/1.5 monospace;
}

body {
  overflow: hidden;
}

#canvas1 {
  position: absolute;
  top: 0%;
  left: 0%;
}

img {
  display: none;
}

#loading {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
