*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body,
button,
input,
table,
textarea,
select {
  font: normal 16px/1.5 monospace;
}

body {
  background-color: black;
}

#canvas1 {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#playerImage,
#backgroundImage,
#enemyImage {
  display: none;
}
